<h1>Wikinimous</h1>
<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<%= link_to "Back to Home", articles_path %>
<p><%= link_to "Edit an article", edit_article_path(@article.id)  %></p>
<%= link_to "Delete #{@article.title}", article_path(@article), method: :delete,
data: { confirm: "Are you sure?"} %>
